.button {
    margin: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ba8b1e;
    color: #fff;
    border: none;
    cursor: pointer;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}