.card {
    max-width: 400px;
    margin: 70px auto;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 60px;
    background-color: #85715d;
    transition: background-color 0.3s ease;
}